.main-container
{
    text-align: center;
}

.feed-example-container
{
    margin: 50px;
}

.feed-example-container .feed
{
    margin-top: 30px;
}

.feed-example-container .job-container
{
    display: inline-block;
    border: 1px solid lightgray;
    margin: 20px;
    padding: 20px;
}

.feed-example-container .job-container .job-heading
{
    font-size: 2rem;
    font-weight: bold;
}

.feed-example-container .job-container .job-body
{
    margin-top: 10px;
}

.feed-example-container .job-container .job-body .btn
{
    margin: 20px;
}


